.filterBtn {
  padding: 5px;
  border: 1px solid #7d7d7d;
  background-color: #fff;
  border-radius: 3px;
  font-weight: 700;
}
.mainFormWrapper {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
}